<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.os.buffer_backend.mapper.ResultMapper">

    <resultMap id="BaseResultMap" type="com.os.buffer_backend.model.domain.Result">
            <id property="rs_id" column="rs_id" jdbcType="INTEGER"/>
            <result property="runtime" column="Runtime" jdbcType="VARCHAR"/>
            <result property="putbuffer1num" column="putBuffer1Num" jdbcType="INTEGER"/>
            <result property="putbuffer2num" column="putBuffer2Num" jdbcType="INTEGER"/>
            <result property="putbuffer3num" column="putBuffer3Num" jdbcType="INTEGER"/>
            <result property="getbuffer1num" column="getBuffer1Num" jdbcType="INTEGER"/>
            <result property="getbuffer2num" column="getBuffer2Num" jdbcType="INTEGER"/>
            <result property="getbuffer3num" column="getBuffer3Num" jdbcType="INTEGER"/>
            <result property="avgbuffernum" column="AvgBufferNum" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        rs_id,Runtime,putBuffer1Num,
        putBuffer2Num,putBuffer3Num,getBuffer1Num,
        getBuffer2Num,getBuffer3Num,AvgBufferNum
    </sql>
</mapper>
